$primary-text-color: #212121;
$primary-white-color: #FFFFFF;
$primary-black-color: #000000;
$accent-color: #2196F3;
$benefits-color: #757575;
$client-color: #afb1b8;
$footer-color: rgba(255, 255, 255, 0.6);
$team-background-color: #f5f4fa;
$background-color-footer: #2F303A;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$font-family-logo: Raleway, sans-serif;
$primary-font-family: Roboto, sans-serif;